table {
  border-collapse:collapse;
}
table, td, th {
  border:1px solid #ccc;
  background-color: #FAFAFA;
  padding-left: 14px;
}

th {
  background-color: #F1F1F1;
}

table.right { float: right; margin-left: 20px; }
table.right td { border: 1px solid #ccc; }

button::-moz-focus-inner{
  border: 0; 
}
button.cupid-green {
  background-color: #366d98;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #366d98), color-stop(100%, #2f5b7e));
  background-image: -webkit-linear-gradient(top, #366d98, #2f5b7e);
  background-image: -moz-linear-gradient(top, #366d98, #2f5b7e);
  background-image: -ms-linear-gradient(top, #366d98, #2f5b7e);
  background-image: -o-linear-gradient(top, #366d98, #2f5b7e);
  background-image: linear-gradient(top, #366d98, #2f5b7e);
  border: 1px solid #2f5b7e;
  border-bottom: 1px solid #4687bb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 0 #367fba;
  -moz-box-shadow: inset 0 1px 0 0 #367fba;
  box-shadow: inset 0 1px 0 0 #367fba;
  color: #fff;
  font: bold 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  line-height: 1;
  padding: 7px 5px 8px 5px;
  text-align: center;
  text-shadow: 0 -1px 0 #4c9021;
  width:200px;
  white-space: nowrap;
}
button.cupid-green:hover {
    background-color: #3c77a7;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3c77a7), color-stop(100%, #3c6c93));
    background-image: -webkit-linear-gradient(top, #3c77a7, #3c6c93);
    background-image: -moz-linear-gradient(top, #3c77a7, #3c6c93);
    background-image: -ms-linear-gradient(top, #3c77a7, #3c6c93);
    background-image: -o-linear-gradient(top, #3c77a7, #3c6c93);
    background-image: linear-gradient(top, #3c77a7, #3c6c93);
    -webkit-box-shadow: inset 0 1px 0 0 #598eb9;
    -moz-box-shadow: inset 0 1px 0 0 #598eb9;
    box-shadow: inset 0 1px 0 0 #598eb9;
    cursor: pointer; }
    button.cupid-green:active {
    border: 1px solid #2c6ca0;
    border-bottom: 1px solid #2a6391;
    -webkit-box-shadow: inset 0 0 8px 4px #2c608b, 0 1px 0 0 #eeeeee;
    -moz-box-shadow: inset 0 0 8px 4px #2c608b, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 8px 4px #2c608b, 0 1px 0 0 #eeeeee; 
}

body {
background-color: #20384B;
background-image:url(http://webengage.com/images/v1/bg-header-holder.gif);
font-family: "Arial", sans-serif;
}

.top-nav {
float: right;
margin-top: 29px;
margin-right: 31px;
color: #eee;
display: block;
/*width: 30%;*/
}

.btn_search{
width: 40px;
border: 1px solid #9c9c9c;
background-color: #f4f4f4;
border-bottom: 1px solid #3c3c3c;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #3a3a3a;

}

.top-nav ul {
list-style: none;
padding : 4px 8px 0 0;
margin: 0px;
float: right;
}

.top-nav li {
display: inline;
padding-right: 15px;
}

.top-nav li a {
font-size: 90%;
height: 50px;
color: #fff;
padding: 10px;
text-decoration: none;
}

.top-nav li a:hover {
color: #000;
background-color : #f4f4f4;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}

div.body{
border-left: 2px solid #E5E9DA;
}

div.body p, div.body dd, div.body li {
line-height: 1.5em;
list-style: circle;
}

div.document {
background-color: #FFFEF0;
}

div.documentwrapper {
float: right;
width: 81%;
}

div.bodywrapper {
margin: 0px;
}

div.sphinxsidebar {
width: 19%;
padding: 0 0 0 0px;
margin: 0 0px 0 0px;
line-height: 1.5em;
font-size: 100%;
}


div.sphinxsidebar p {
color: #888;
padding: 5px 20px;
line-height: 1.4em;
}

div.sphinxsidebar ul {
margin: 10px 3px 0 10px;
padding: 0;
word-wrap: break-word;
}


div.sphinxsidebar li {
font-weight: bold;
font-size: 125%;
}

div.sphinxsidebar li ul li {
line-height: 1.5em;
font-weight: bold;
font-size: 82%;
}

div.sphinxsidebar ul ul, div.sphinxsidebar ul.want-points {
list-style: none;
margin-left: 8px;
}


div.sphinxsidebar li ul li ul li ul li {
/* font-size: 100%; */
/* font-weight: normal; */
list-style: square;
color: #656565;
margin: 0 0 0 5px;
font-weight: normal;
font-size: 86%;
}

div.sphinxsidebar li ul li ul li ul li ul li {
list-style: square;
color: #656565;
margin: 0 0 0 5px;
font-weight: normal;
font-size: 86%;
}

div.sphinxsidebar h3, div.sphinxsidebar h4 {
font-family: Arial, sans-serif;
font-weight: normal;
margin: 5px 0;
padding: 5px 8px;
background-color: #E5E9DA;
text-shadow: none;
}

div.body h1, div.body h2, div.body h3, div.body h4, div.body h5, div.body h6 {
font-family: Arial, sans-serif;
border-bottom: 2px solid #253E4B;
font-weight: normal;
/*color: #212224;*/
margin: 30px 0px 10px 0px;
padding: 5px 0 5px 0px;
/*text-shadow: 0px 1px 0 white;*/
}

div.body h1 {
border-top: 20px solid white;
background-color: white;
margin-top: 0;
font-size: 245%;
color: #22485E;
/*padding-left: 18px;*/
text-shadow: none;
}

div.body h2 {
font-size: 200%;
background-color: white;
border-bottom: 1px dotted #000;
color: #235F81;
}

div.body h3 {
font-size: 130%;
background-color: white;
border-bottom: 1px solid silver;
color: #235F81;
}

div.body h4 {
font-size: 105%;
background-color: #E5F0F5;
padding-left: 10px;
border-bottom: 1px solid #CADCE4;
}

div.body h5 {
font-size: 100%;
background-color: #E5F0F5;
padding-left: 10px;
border-bottom: 1px solid #CADCE4;
}

div.footer {
color : #ddd;
}

div.footer a {
color : #fff
}

div.related a {
color: #fff;
}

div.related li.right {
display:none;
}

div.related {
background-color: #5387A0;
/*background: #07080A;*/ /* for non-css3 browsers */
/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#333333'); /* for IE */
/* background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#333));*/ /* for webkit browsers */
/*background: -moz-linear-gradient(top,  #ccc,  #333);*/ /* for firefox 3.6+ */ 
}
pre {
background-color: #F9F9F9;
}
tt {
padding: 1px;
padding-right: 3px;
padding-left: 3px;
border: 1px solid #ccc;
}